---
import Card from "../Card.astro";
import { Image } from 'astro:assets';
import points_in_rectangle from "../../assets/points-in-rectangle.webp";
---

<Card
  href="points-in-rectangle"
  title="Points in Rectangle"
  body="Algorithme d'optimisation en C++ recherchant le rectangle de taille fixe contenant la plus grande différence entre points bleus et rouges dans un SVG."
  tags="C++, Optimisation, Analyse Algorithmique, TinyXML2"
>
  <div class="max-w-full">
    <Image
      src={points_in_rectangle}
      alt="Application Points in Rectangle"
      class="w-full h-auto object-cover border border-zinc-800"
      width={600}
      height={400}
    />
  </div>
</Card>