# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Pnpm
.pnpm-store

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/generated/prisma

# Base de données SQLite locale
prisma/*.db
prisma/*.db-journal

# Images uploadées en dev (en prod : volume Docker)
/data
